*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
#canvas1{    
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}